In [2]:
import findspark

In [3]:
findspark.init('/root/Desktop/spark-2.4.3-bin-hadoop2.7')

In [4]:
import pyspark

# Spark DataFrame Basics

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df = spark.read.csv('worldcup.csv').cache()

In [8]:
df.show()

+----+-----+-----+----+------+----+------+--------------+---------+-----------+----------+-----------+----------+
| _c0|  _c1|  _c2| _c3|   _c4| _c5|   _c6|           _c7|      _c8|        _c9|      _c10|       _c11|      _c12|
+----+-----+-----+----+------+----+------+--------------+---------+-----------+----------+-----------+----------+
|null|Score|Overs| RPO|Target|Inns|Result|    Opposition|   Ground| Start Date|  Match_ID|    Country|Country_ID|
| 412|  250| 48.3|5.15|  null|   1|   won|       v India|  Kolkata| 3 Jan 2013|ODI # 3315|   Pakistan|         7|
| 680|  165| 48.0|3.43|   251|   2|  lost|    v Pakistan|  Kolkata| 3 Jan 2013|ODI # 3315|      India|         6|
| 413|  157| 48.5|3.21|   168|   2|  lost|       v India|    Delhi| 6 Jan 2013|ODI # 3316|   Pakistan|         7|
| 681|  167| 43.4|3.82|  null|   1|   won|    v Pakistan|    Delhi| 6 Jan 2013|ODI # 3316|      India|         6|
| 117|  198| 40.0|4.95|   306|   2|  lost|   v Australia|Melbourne|11 Jan 2013|ODI # 3317|   SriLanka|         8|
|1076|305/5| 50.0|6.10|  null|   1|   won|   v Sri Lanka|Melbourne|11 Jan 2013|ODI # 3317|  Australia|         2|
| 682|316/9| 50.0|6.32|   326|   2|  lost|     v England|   Rajkot|11 Jan 2013|ODI # 3318|      India|         6|
| 836|325/4| 50.0|6.50|  null|   1|   won|       v India|   Rajkot|11 Jan 2013|ODI # 3318|    England|         1|
| 118|172/2| 40.1|4.28|   171|   2|   won|   v Australia| Adelaide|13 Jan 2013|ODI # 3319|   SriLanka|         8|
|1077|  170| 46.5|3.62|  null|   1|  lost|   v Sri Lanka| Adelaide|13 Jan 2013|ODI # 3319|  Australia|         2|
| 683|285/6| 50.0|5.70|  null|   1|   won|     v England|    Kochi|15 Jan 2013|ODI # 3320|      India|         6|
| 837|  158| 36.0|4.38|   286|   2|  lost|       v India|    Kochi|15 Jan 2013|ODI # 3320|    England|         1|
| 119| 75/6| 20.0|3.75|    75|   2|   won|   v Australia| Brisbane|18 Jan 2013|ODI # 3321|   SriLanka|         8|
|1078|   74| 26.4|2.77|  null|   1|  lost|   v Sri Lanka| Brisbane|18 Jan 2013|ODI # 3321|  Australia|         2|
| 684|157/3| 28.1|5.57|   156|   2|   won|     v England|   Ranchi|19 Jan 2013|ODI # 3322|      India|         6|
| 838|  155| 42.2|3.66|  null|   1|  lost|       v India|   Ranchi|19 Jan 2013|ODI # 3322|    England|         1|
| 277|  208| 46.2|4.48|  null|   1|  lost| v New Zealand|    Paarl|19 Jan 2013|ODI # 3323|SouthAfrica|         3|
| 551|209/9| 45.4|4.57|   209|   2|   won|v South Africa|    Paarl|19 Jan 2013|ODI # 3323|  Newzealad|         5|
| 120| 14/0|  3.2|4.20|   223|   2|   n/r|   v Australia|   Sydney|20 Jan 2013|ODI # 3324|   SriLanka|         8|
+----+-----+-----+----+------+----+------+--------------+---------+-----------+----------+-----------+----------+
only showing top 20 rows

In [9]:
df.printSchema() #printSchema

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)

In [10]:
df.columns #prints columns of dataframe

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12']

In [11]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [12]:
data_schema = [StructField('_c0',IntegerType(),True),
               StructField('_c1',StringType(),True)]#3rd field to be null

In [13]:
final_struc =StructType(fields=data_schema)#Schema

In [14]:
df=spark.read.csv('worldcup.csv',schema=final_struc)

In [15]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)

In [18]:
type(df['_c0'])

pyspark.sql.column.Column

In [21]:
df.select('_c0').show()

+----+
| _c0|
+----+
|null|
| 412|
| 680|
| 413|
| 681|
| 117|
|1076|
| 682|
| 836|
| 118|
|1077|
| 683|
| 837|
| 119|
|1078|
| 684|
| 838|
| 277|
| 551|
| 120|
+----+
only showing top 20 rows

In [23]:
type(df.select('_c0'))

pyspark.sql.dataframe.DataFrame

In [26]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [29]:
df.select(['_c0','_c1']).show()

+----+-----+
| _c0|  _c1|
+----+-----+
|null|Score|
| 412|  250|
| 680|  165|
| 413|  157|
| 681|  167|
| 117|  198|
|1076|305/5|
| 682|316/9|
| 836|325/4|
| 118|172/2|
|1077|  170|
| 683|285/6|
| 837|  158|
| 119| 75/6|
|1078|   74|
| 684|157/3|
| 838|  155|
| 277|  208|
| 551|209/9|
| 120| 14/0|
+----+-----+
only showing top 20 rows

In [32]:
df.withColumn('Double_ID',df['_c0']*2).show()  #nameofnewcolumn,column

+----+-----+---------+
| _c0|  _c1|Double_ID|
+----+-----+---------+
|null|Score|     null|
| 412|  250|      824|
| 680|  165|     1360|
| 413|  157|      826|
| 681|  167|     1362|
| 117|  198|      234|
|1076|305/5|     2152|
| 682|316/9|     1364|
| 836|325/4|     1672|
| 118|172/2|      236|
|1077|  170|     2154|
| 683|285/6|     1366|
| 837|  158|     1674|
| 119| 75/6|      238|
|1078|   74|     2156|
| 684|157/3|     1368|
| 838|  155|     1676|
| 277|  208|      554|
| 551|209/9|     1102|
| 120| 14/0|      240|
+----+-----+---------+
only showing top 20 rows

In [33]:
df.show()

+----+-----+
| _c0|  _c1|
+----+-----+
|null|Score|
| 412|  250|
| 680|  165|
| 413|  157|
| 681|  167|
| 117|  198|
|1076|305/5|
| 682|316/9|
| 836|325/4|
| 118|172/2|
|1077|  170|
| 683|285/6|
| 837|  158|
| 119| 75/6|
|1078|   74|
| 684|157/3|
| 838|  155|
| 277|  208|
| 551|209/9|
| 120| 14/0|
+----+-----+
only showing top 20 rows

In [34]:
df.withColumnRenamed('_c0','ID').show()  #Rename columns

+----+-----+
|  ID|  _c1|
+----+-----+
|null|Score|
| 412|  250|
| 680|  165|
| 413|  157|
| 681|  167|
| 117|  198|
|1076|305/5|
| 682|316/9|
| 836|325/4|
| 118|172/2|
|1077|  170|
| 683|285/6|
| 837|  158|
| 119| 75/6|
|1078|   74|
| 684|157/3|
| 838|  155|
| 277|  208|
| 551|209/9|
| 120| 14/0|
+----+-----+
only showing top 20 rows

In [35]:
df.createOrReplaceTempView('worldcup')

In [36]:
results=spark.sql("Select * from worldcup")

In [37]:
results.show()

+----+-----+
| _c0|  _c1|
+----+-----+
|null|Score|
| 412|  250|
| 680|  165|
| 413|  157|
| 681|  167|
| 117|  198|
|1076|305/5|
| 682|316/9|
| 836|325/4|
| 118|172/2|
|1077|  170|
| 683|285/6|
| 837|  158|
| 119| 75/6|
|1078|   74|
| 684|157/3|
| 838|  155|
| 277|  208|
| 551|209/9|
| 120| 14/0|
+----+-----+
only showing top 20 rows

In [45]:
new_results=spark.sql("Select * from worldcup where _c0>400")

In [46]:
new_results.show()

+----+-----+
| _c0|  _c1|
+----+-----+
| 412|  250|
| 680|  165|
| 413|  157|
| 681|  167|
|1076|305/5|
| 682|316/9|
| 836|325/4|
|1077|  170|
| 683|285/6|
| 837|  158|
|1078|   74|
| 684|157/3|
| 838|  155|
| 551|209/9|
|1079|222/9|
| 552|279/8|
|1080|247/5|
| 685|258/5|
| 839|257/7|
| 553|260/9|
+----+-----+
only showing top 20 rows